EBAY_CLIENT_ID=your_id_here
EBAY_DEV_ID=your_dev_id_here
EBAY_SECRET=your_secret_here

EMAIL=your_email
EMAIL_PASSWORD=your_app_specific_password
DESTINATION_EMAIL=your_destination_email
EMAIL_SMTP_SERVER=smtp.gmail.com